/*GENERAL BOARD CSS*/
#board html{
    background-image: url("../../images/desert background.png");
}

#board .grid-container {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    grid-template-rows: 150px 250px 250px;
}

#board .showGameRules {
    position: static;
}

#board .popup label {
    display: block;
}

#board .playerAndRules {
    display: flex;
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}

#board .currentPlayer{
    background-image: url("../../images/desert brick.png");
    background-repeat: repeat;
    border: green 8px solid;
    border-radius: 12px;
    display: flex inline;
    margin: auto;
    line-height: 50px;
    background-size: 100px;
    min-width: 225px;
}

#board .title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 75%;
    height: 50%;
    background-image: url("../../images/desert brick.png");
    background-repeat: repeat;
    background-size: 100px;
    font-size: 2em;
    margin: auto;
    border-bottom: #666666 5px solid;
    border-right: #666666 3px solid;
    border-radius: 12px;
}

/*market*/
#board .buildings {
    grid-row-start: 2 ;
    grid-row-end: 3;
    grid-column-start:1 ;
    grid-column-end:2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#board .buildings p {
    position: relative;
    width: 100px;
    height: 100px;
}

#board img {
    position: absolute;
    top: -11px;
    right: -35px;
    height: 60px;
}

/*money*/
#board .yourMoney {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    grid-row-start: 2 ;
    grid-row-end: 3;
    grid-column-start:3 ;
    grid-column-end:4;
}

#board .yourMoney p {
    border: 2px darkgoldenrod groove;
    width: 100px;
    height: 100px;
    background-size: 100px;
}

#board .money {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start:1 ;
    grid-column-end:2;
}

#board .money .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

#board .money .button {
    align-self: center;
    margin: 0;
}

#board .money p {
    border: 2px darkgoldenrod groove;
    width: 100px;
    height: 100px;
    background-size: 100px;
}

#board .yellow {
    background-image: url("../../images/gold ingot.png");
}

#board .green {
    background-image: url("../../images/emerald ingot.png");
}

#board .blue {
    background-image: url("../../images/lapis ingot.png");
}

#board .orange {
    background-image: url("../../images/Copper ingot.webp");
}

/*your alhambra*/
#board .yourAlhambra {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
}

#board .yourAlhambra button {
    padding: 10px;
}

/*general*/
#board p {
    background-position: center;
    padding: 5px;
    font-size: 1.3em;
    background-repeat: no-repeat;
}

#board div{
    margin: 5px;
}