/*GENERAL BOARD CSS*/

#Board .grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

}

#Board .buildings { grid-row-start: 1 ;
    grid-row-end: 2;
    grid-column-start:1 ;
    grid-column-end:2;
    width: 40%;
    display: flex;
    flex-direction: row;}

#Board .yourMoney { grid-row-start: 3 ;
    grid-row-end: 4;
    grid-column-start:3 ;
    grid-column-end:4; }

#Board .money { grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start:1 ;
    grid-column-end:2; }

#Board .yourAlhambra { grid-row-start: 4 ;
    grid-row-end: 5;
    grid-column-start:3 ;
    grid-column-end:4;}

#Board div{
    font-size: 100px
}