.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

}

.buildings { grid-row-start: 1 ;
    grid-row-end: 2;
    grid-column-start:1 ;
    grid-column-end:2;
    width: 40%;
    display: flex;
    flex-direction: row;}

.buildings img{

}

.yourMoney { grid-row-start: 3 ;
    grid-row-end: 4;
    grid-column-start:3 ;
    grid-column-end:4; }

.money { grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start:1 ;
    grid-column-end:2; }

.yourAlhambra { grid-row-start: 4 ;
    grid-row-end: 5;
    grid-column-start:3 ;
    grid-column-end:4;}

div{
    font-size: 100px
}