body {
    font-family: Impact, sans-serif;
}

button {
    margin: 10px;
    font-size: 1.3em;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    margin: auto;
    text-align: center;
}

main h1 {
    font-size: 3em;
    margin-bottom: 30px;
}

main .players {
    display: flex;
    flex-wrap: wrap;
    min-height: 400px;
    align-content: space-between;
    justify-content: space-around;
}

main .players li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border: 1px solid black;
    min-height: 100px;
    min-width: 400px;
    margin-bottom: 25px;
}

main .ready {
    font-family: Impact, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
    font-size: 2em;
    width: 400px;
    height: 100px;
    font-weight: bold;
    padding: 14px 20px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

main .ready:hover {
    background-color: lightgray;
}

main .gameInfo {
    font-size: 1.5em;
    margin-bottom: 30px;
}


main .gameInfo li {
    border: 1px solid black;
    padding: 5px;
    margin: 10px auto 10px auto;
    width: 400px;
}

main .gameID {
    letter-spacing: 4px;
    width: 150px;
    border: 1px solid black;
    margin: 10px auto 10px auto;
}