html{
    height: 100%;
    font-family: 'Aclonica', sans-serif;
}

body {
    display: grid;
    min-height: 100%;
}

main{
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 0.25fr 1fr 1fr 1fr 1fr 1fr 0.25fr;
    grid-area: 2 / 1 / span 5 / span 6;
    min-height: 100%;
}

h1 {
    font-size: 50px;
    grid-row-start: 1;
    grid-column-start: 6;
    align-self: center;
    padding-right: 10px;
}

h2 {
    align-self: center;
    padding-left: 7px;
}

#Your_money{
    grid-column-start: 4;
    grid-column-end: span 3;
    grid-row-start: 4;
    color: aqua;
}

#money li{
    display: inline;
    padding-right: 10px;
}

#Your_reserve{
    grid-column-start: 2;
    grid-row-start: 4;
    color: chocolate;
    display: grid inline;
    grid-template-columns: 0.2fr 2fr 0.2fr;
}

#reserve {
    grid-column-start: 2;
    margin-left: auto;
    margin-right: auto;
}

#reserve li{
    display: inline-block;
    padding-right: 10px;
}

#Your_ALhambra{
    grid-template-rows:repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
    align-content: center;
    grid-area: 1 / 4 / span 3 / span 3;
    color: chartreuse;
    display: grid;
}