body {
    background-image: url("../../images/yellowBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.score {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

#rules header h1 {
    font-size: 3rem;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
    border-bottom: saddlebrown 3px solid;
    width: 40%;
    font-family: 'Aclonica', sans-serif;
}

main {
    width: 70%;

}

#rules p, li {
    font-size: 1.1rem;
}

#rules h2 {
    font-size: 2rem;
}

#rules h3 {
    font-size: 1.5rem;
}

#rules h4 {
    font-size: 1.3rem;
}

.scoring img {
    margin-top: 60px;
    margin-left: 30px;
    height: 60%;
    width: 80%;
}

#rules .back {
    align-self: center;
    padding-left: 7px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 24px;
    word-spacing: 10px;
    background-color: gainsboro;
    box-shadow: 0 5px #999;
    margin-right: 60px;
}

