html{
    height: 100%;
    font-family: 'Aclonica';
}

body {
    display: grid;
    min-height: 100%;
}

main{
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 0.25fr 1fr 1fr 1fr 1fr 1fr 0.25fr;
    grid-area: 2 / 1 / span 5 / span 6;
    min-height: 100%;
}

h1 {
    font-size: 50px;
    grid-row-start: 1;
    grid-column-start: 6;
    align-self: center;
    padding-right: 10px;
}

h2 {
    align-self: center;
    padding-left: 7px;
}