/*INDEX CSS*/

.Font{
    font-family: 'Aclonica', sans-serif;
}

.Building {
    max-height: 150px;
    max-width: 150px;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    text-align: center;
    width: 50%;
    margin: 0 auto 0 auto;
}

#index header{
    font-weight: bold;
    text-align: center;
}

#index header h2{
    font-size: 2rem;
    margin-bottom: 0.5em;
}

#index header h1{
    font-size: 3rem;
    margin-bottom: 0.3em;
}

#index main{
    line-height: 400%;
    margin-top: 3rem;
}

#index button{
    width: 200px;
    padding: 8px;
    font-size: 20px;
    border-radius: 11px;
    cursor: pointer;
    background-color: gainsboro;
    box-shadow: 0 7px #999;
}

#index button:hover{
    background-color: lightgray;
}

#index button:active{
    background-color: lightgray;
    box-shadow: 0 4px #666;
    transform: translateY(4px);
}

/*CREATE/JOIN GAME CSS*/

#Game #Welcome {
    margin-bottom: 100px;
}

#Game #Welcome  h2{
    font-size: 2rem;
    margin-bottom: 0.5em;
}

#Game #Welcome  h1{
    font-size: 3rem;
    margin-bottom: 0.3em;
}

.back{
    border-radius: 15px;
    cursor: pointer;
    font-size: 24px;
    word-spacing: 10px;
    margin: 30px;
    background-color: gainsboro;
    box-shadow: 0 5px #999;
}

#Game input[type=submit] {
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 300px;
    background-color: gainsboro;
    box-shadow: 0 7px #999;
}

#Game input[type=submit]:hover {
    background-color: lightgray;
}

#Game input[type=text]{
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#Game select {
    width: 70px;
    padding: 12px 20px;
    margin: 8px auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#Game select#game-id {
    width: 200px;
}

/*LOBBY CSS*/

#Lobby body {
    font-family: sans-serif;
}

#Lobby button {
    margin: 10px;
    font-size: 1.3em;
    background-color: gainsboro;
    box-shadow: 0 7px #999;
}

#Lobby .button{
    background-color: gainsboro;
    box-shadow: 0 7px #999;
}

#Lobby main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    margin: auto;
    text-align: center;
}

#Lobby main h1 {
    font-size: 3em;
    margin-bottom: 30px;
}

#Lobby main .players {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;
}

#Lobby main .players li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border: 1px solid black;
    min-height: 100px;
    min-width: 400px;
    margin-bottom: 25px;
}

#Lobby main .ready {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
    font-size: 2em;
    width: 400px;
    height: 100px;
    font-weight: bold;
    padding: 14px 20px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

#Lobby main .ready:hover {
    background-color: lightgray;
}

#Lobby main .gameInfo {
    font-size: 1.5em;
    margin-bottom: 30px;
}


#Lobby main .gameInfo li {
    border: 1px solid black;
    padding: 5px;
    margin: 10px auto 10px auto;
    width: 400px;
}

#Lobby main .gameID {
    letter-spacing: 4px;
    width: 150px;
    border: 1px solid black;
    margin: 10px auto 10px auto;
}

/*GENERAL BOARD CSS*/

#Board .grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

}

#Board .buildings { grid-row-start: 1 ;
    grid-row-end: 2;
    grid-column-start:1 ;
    grid-column-end:2;
    width: 40%;
    display: flex;
    flex-direction: row;}

#Board .yourMoney { grid-row-start: 3 ;
    grid-row-end: 4;
    grid-column-start:3 ;
    grid-column-end:4; }

#Board .money { grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start:1 ;
    grid-column-end:2; }

#Board .yourAlhambra { grid-row-start: 4 ;
    grid-row-end: 5;
    grid-column-start:3 ;
    grid-column-end:4;}

#Board div{
    font-size: 100px
}

/*MY ALHAMBRA CSS*/

#Alhambra html{
    height: 100%;
    font-family: 'Aclonica', sans-serif;
}

#Alhambra body {
    display: grid;
    min-height: 100%;
    max-height: min-content;
}

#Alhambra main{
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 0.05fr 1fr 1fr 1fr 1fr 1fr 0.05fr;
    grid-area: 2 / 1 / span 5 / span 6;
    min-height: 100%;
}

#Alhambra h1 {
    font-size: 50px;
    grid-row-start: 1;
    grid-column-start: 6;
    align-self: center;
    padding-right: 10px;
}

#Alhambra .back {
    align-self: center;
    padding-left: 7px;
}

#Alhambra #Your_money{
    grid-column-start: 4;
    grid-column-end: span 3;
    grid-row-start: 4;
    color: aqua;
}

#Alhambra #money li{
    display: inline;
    padding-right: 10px;
}

#Alhambra #Your_reserve{
    grid-column-start: 2;
    grid-row-start: 4;
    color: chocolate;
    display: grid inline;
    grid-template-columns: 0.2fr 2fr 0.2fr;
}

#Alhambra #reserve {
    grid-column-start: 2;
    margin-left: auto;
    margin-right: auto;
}

#Alhambra #reserve li{
    display: inline-block;
    padding-right: 10px;
}

#Alhambra #Your_ALhambra{
    grid-template-rows:repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-area: 1 / 4 / span 3 / span 3;
    color: tan;
    display: grid;
    background-color: tan;
}

#Alhambra #City {
    grid-column-start: 3;
    grid-row-start: 3;
}

/*VICTORY CSS*/

#Victory .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Victory h1 {
    font-size: 4rem;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Aclonica', sans-serif;
}

#Victory img {
    display: block;
    height: 200px;
    width: 200px;
    margin: auto;
}

/*SCOREBOARD CSS*/

#Score .containergrid {
    display: grid;
    grid-template-rows: auto ;
    grid-template-columns: 300px 300px;
}

#Score .containerflex {
    display: flex;
    justify-content: center;
}

#Score h1 {
    font-family: 'Aclonica', sans-serif;
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

#Score p {
    text-align: center;
    font-size: 3rem;
    margin-top: 40px;
}

#Score button {
    margin: 20px auto 20px auto;
    font-size: x-large;
    color: black;
    padding: 16px 32px;
    border-radius: 16px;
    width: 30%;
    display: block;
    border: none;
    background-color: gainsboro;
    box-shadow: 0 7px #999;
}

#Score button:hover {
    background-color: lightgray;
}
