.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    text-align: center;
}

header{
    font-weight: bold;
    font-family: 'Aclonica', sans-serif;
    text-align: center;
}

header h2{
    font-size: 2rem;
    margin-bottom: 0.5em;
}

header h1{
    font-size: 3rem;
    margin-bottom: 0.3em;
}

main{
    line-height: 400%;
    margin-top: 3rem;
}

button{
    width: 200px;
    padding: 8px;
    font-size: 20px;
    border-radius: 11px;
    cursor: pointer;
    background-color: gainsboro;
    box-shadow: 0 7px #999;
}

button:hover{
    background-color: lightgray;
}

button:active{
    background-color: lightgray;
    box-shadow: 0 4px #666;
    transform: translateY(4px);
}